html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.menu-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b02321;
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 50px;
}

.login-btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  color: #b02321;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-content {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.footer {
  background-color: #b02321;
  color: white;
  padding: 20px;
  text-align: center;
}

.order-btn {
  background-color: #b02321;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.main-content {
  flex-grow: 1;
  padding: 50px;
}
