.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.logo img {
  height: 50px;
}

h1 {
  flex: 2;
  text-align: center;
  font-size: 24px;
  margin-left: 170px;
  background-color: #b02321;
}

.header-buttons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logout-btn {
  background-color: #dd0000;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.logout-btn:hover {
  background-color: #c20000;
}

#googleSignInDiv {
  display: inline-block;
}

.zoom-level {
  margin-left: 20px;
}
