.selection-controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin: 10px;
    
  }
  
  .selection-controls button {
    background-color: #ddd;
    border: none;
    padding: 0.3rem 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 20px;
    width: 50px;
  }
  
  .selection-controls button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  .selection-controls span {
    font-size: 2rem;
  }
  