html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b02321;
  padding: 10px 20px;
  color: white;
}

.logo img {
  height: 50px;
}

.login-btn {
  background-color: white;
  border: none;
  padding: 10px 20px;
  color: #b02321;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.order-btn:hover {
  transform: scale(1.01);
}

.main-content {
  flex-grow: 1;
  padding: 50px;
}

.carousel-container {
  width: 30%;
  max-width: 700px;
  height: auto;
  overflow: hidden;
  position: relative;
  align-self: center;
}

.carousel-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.order-btn {
  background-color: #b02321;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
}

.footer {
  background-color: #b02321;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
span {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 170px;
}
