html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.App {
  text-align: center;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b02321;
  padding: 10px 20px;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 90px
}

.logo img {
  height: 50px;
  cursor: pointer;
}

.panda-name {
  font-family: "Arial", sans-serif;
  font-size: 24px;
  font-weight: bold;
  user-select: none;
  color: white;
  position: absolute;
  left: -95px;
  top: 30px;
}

.header-buttons {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logout-btn {
  background-color: #dd0000;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.logout-btn:hover {
  background-color: #b02321;
}

#googleSignInDiv {
  display: inline-block;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  min-height: 100vh;
}

/* Add this to your existing CSS */
.button-container {
  display: flex;
  justify-content: center; /* Center the buttons horizontally */
  gap: 50px; /* Horizontal space between the buttons */
}

.footer {
  background-color: #b02321;
  color: white;
  padding: 20px;
  text-align: center;
}

.order-btn {
  background-color: #b02321;
  color: white;
  border: none;
  padding: 15px 40px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  margin: 50px auto;
  display: inline-block;
  text-align: center;
  transition: background-color 0.3s ease;
}

/* Add space between the two buttons */
.order-btn + .order-btn {
  margin-left: 300px;  /* Horizontal space between the buttons */
}

.order-btn:hover {
  background-color: #9a1e1a;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

.button {
  background-color: #7e7e7e;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: block;
  margin: 20px auto;
  width: 60%;
  margin-top: 90px;
}

.button:hover {
  background-color: #9a1e1a;
}

.button:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.header img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.header-buttons {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-top: 3px;
  transition: all 0.3s ease;
}

