/* Cashier Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #b02321;
    color: white;
  }

  th:first-child {
    border-top-left-radius: 15px;
}

th:last-child {
    border-top-right-radius: 15px;
}
  
  td {
    background-color: #f9f9f9;
  }
  
  td:hover {
    background-color: #f1f1f1;
  }
  
  @media (max-width: 768px) {
    table {
      font-size: 14px;
    }
  
    th, td {
      padding: 10px;
    }
  }
  